# Server port
PORT=4000
JWT_SECRET=replace_with_a_long_secret

# Salesforce username/password+token (backup auth method)
SF_LOGIN_URL=https://login.salesforce.com
SF_USERNAME={emailwithoutdomain}.{someid}@agentforce.com
SF_PASSWORD=your_salesforce_password

# Salesforce access token (from SF CLI - preferred method)
SF_ACCESS_TOKEN=token_value_here
SF_INSTANCE_URL=https://orgfarm-{someid}-dev-ed.develop.my.salesforce.com
